<div class="register">
  <h1>Register</h1>
  <div *ngIf="isEmailExist" class="incorrect-data">
    <p>email is already in use</p>
  </div>
  <form [formGroup]="form" novalidate (ngSubmit)="register()">
    <div class="from-group">
      <p>First Name</p>
      <input type="email" formControlName="firstName">
    </div>
    <div class="from-group">
      <p>Last Name</p>
      <input type="email" formControlName="lastName">
    </div>
    <div class="from-group">
      <p>email</p>
      <input type="email" formControlName="newUserEmail">
      <div class="validate-alert"
           *ngIf="form.controls['newUserEmail'].invalid && form.controls['newUserEmail'].touched">
        <p>Incorrect email</p>
      </div>
    </div>
    <div class="form-group">
      <p>password</p>
      <input type="password" formControlName="newPassword">
      <div *ngIf="form.controls['newPassword'].errors">
        <div class="validate-alert"
          *ngIf="form.controls['newPassword'].errors.minlength && form.controls['newPassword'].touched">
          <p>Password must be at least 6 characters</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <p>repeat password</p>
      <input type="password" formControlName="checkPassword">
      <!--<div *ngIf="form.controls['checkPassword'].errors">-->
        <div class="validate-alert"
             *ngIf="form.controls['checkPassword'].errors?.minlength && form.controls['checkPassword'].touched">
          <p>Password must be at least 6 characters</p>
        </div>
        <div *ngIf="form.errors?.identityRevealed && (form.touched || form.dirty)" class="validate-alert">
          <p>Password do not match</p>
        </div>
      <!--</div>-->
    </div>
    <div class="form-group">
      <button [disabled]="form.invalid">register</button>
    </div>
  </form>
</div>
