/* You can add global styles to this file, and also import other style files */
html { background-color: #0077cc; }
h1,h2{
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
p, a{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
button{
  border-radius: 5px;
  border: 1px solid white;
  background:  #0077cc;
  cursor: pointer;
  color:white;
}
button[disabled=disabled], button:disabled {
  background:  #d3d3d3;
}
