/* option */
* {
  box-sizing: border-box;

}

p {
  margin: 0;
}

h1 {
  margin: 5px;
}

/* style */
.list {
  margin: 10px 0;
}

.tasks {
  display: flex;
  justify-content: space-around;
}

.name-column {
  text-align: center;
}

.border {
  border: 1px solid gray;
  border-radius: 3px;
  min-width: 250px;
  background: white;
}

.task {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  padding: 10px;

}

.invisible {
  display: none;
}

.add {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.main {
  margin-top: 30px;
}
.title-task {
  text-align: center;
  width: 99px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
