<div class="main">
  <div class="tasks">
    <div class="list">
      <div class="border name-column">
        <h1>Todo</h1>
      </div>
      <div *ngFor="let task of tasks" [ngClass]="{invisible: task.done}" class="border task">
        <input type="checkbox" [(ngModel)]="task.done" (ngModelChange)=editTask(task)>
        <div class="title-task"><p>{{task.title}}</p></div>
        <span (click)="showCurrentTask(task)" class="cursor"><i class="fas fa-pencil-alt"></i></span>
        <span class="cursor" (click)="deleteTask(task)"><i class="fas fa-trash-alt"></i></span>
      </div>
      <div class="border add" (click)="openWindow()" (click)="done = false">
        <span><i class="fas fa-plus"></i></span>
      </div>
    </div>
    <div class="list">
      <div class="border name-column">
        <h1>Done</h1>
      </div>
      <div *ngFor="let task of tasks" [ngClass]="{invisible: !task.done}" class="border task">
        <input type="checkbox" [(ngModel)]="task.done" (ngModelChange)=editTask(task)>
        <div class="title-task"><p>{{task.title}}</p></div>
        <span (click)="showCurrentTask(task)" class="cursor"><i class="fas fa-pencil-alt"></i></span>
        <span class="cursor" (click)="deleteTask(task)"><i class="fas fa-trash-alt"></i></span>
      </div>
      <div class="border add" (click)="openWindow()" (click)="done = true">
        <span><i class="fas fa-plus"></i></span>
      </div>
    </div>
  </div>
</div>
<app-modal-dialog [setCurrentTask]="currentTask" [visible]="showDialog" [addTask]="addTask" [editTask]="editTask"
                  (visibleChange)="onClose($event)"></app-modal-dialog>

