<div *ngIf="visible" class="dialog">
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn"><i class="fas fa-times"></i></button>
  <div class="content">
    <p>title:</p>
    <input type="text" [(ngModel)]="modalTask.title" title="title" #title="ngModel" required
           pattern="\S.+">
    <p>description:</p><br>
    <textarea name="desc" [(ngModel)]="modalTask.desc"></textarea><br>
    <button *ngIf="!isNewTask" (click)="editTask(modalTask)" (click)="close()" [disabled]="title.invalid">change
    </button>
    <button *ngIf="isNewTask" (click)="addTask(modalTask)" (click)="close()" [disabled]="title.invalid">add</button>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>

