#login{
  margin-top: 100px;
}

.active {
  color: #0077cc;
}

.border{
  max-width: 600px;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
.content{
  margin: 100px 20px;
}
.navigate{
  margin-top: 50px;
}
.navigate a {
  margin: 20px 10px 20px 50px;
}
a {
  text-transform: uppercase;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
