<div id="login">
  <div class="border">
    <div class="content">
      <router-outlet></router-outlet>
      <div class="navigate">
        <nav>
          <a routerLink="sign-in" routerLinkActive="active">sign in</a>
          <a routerLink="register" routerLinkActive="active">register</a>
        </nav>
      </div>
    </div>
  </div>
</div>

