
p{
  margin-top: 20px;
  margin-bottom: 10px;
}
.content button{
  margin-top: 50px;
}
.validate-alert{
  font-size: 12px;
  color:red;
}
.incorrect-data {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 0 ,0, 0.6);
}
.registered {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background: rgba(0, 158 ,107, 0.6);
}
.registered p {
  margin: 0;
}
.incorrect-data p{
  margin: 0;
}
.login{
  margin: 50px;
}

.register{
  margin: 50px;
}

.form-group button{
  margin-top: 20px;
}

input {outline:none;}
Input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

