<div class="login">
  <h1>Sign in</h1>
  <form [formGroup]="form" novalidate (ngSubmit)="login()">
    <div *ngIf="isRegister" class="registered">
      <p>you are registered</p>
    </div>
    <div *ngIf="isIncorrectEmailPass" class="incorrect-data">
      <p>incorrect password or email</p>
    </div>
    <div class="from-group">
      <p>email</p>
      <input type="email" formControlName="userEmail">
      <div class="validate-alert"
           *ngIf="form.controls['userEmail'].invalid && form.controls['userEmail'].touched">
        <p>Incorrect email</p>
      </div>
    </div>
    <div class="form-group">
      <p>password</p>
      <input type="password" formControlName="userPassword">
      <div *ngIf="form.controls['userPassword'].errors">
        <div class="validate-alert"
             *ngIf="form.controls['userPassword'].errors?.minlength && form.controls['userPassword'].touched">
          <p>Password must be at least 6 characters</p>
        </div>
        <div class="validate-alert"
          *ngIf="form.controls['userPassword'].errors?.required && form.controls['userPassword'].touched">
          <p>Password is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="form.invalid">sign in</button>
    </div>
  </form>
</div>
