<header>
  <nav>
    <div class="main">
      <a routerLink="/" routerLinkActive="active"><h1>tasks</h1></a>
    </div>
    <div class="login">
      <a routerLink="/login" routerLinkActive="active">{{localS.getItem("currentUser") ? "logout" : "Sign in"}}</a>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
