a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
  font-size: 16px;
  font-family: "Maven Pro";
}

header {
  padding: 10px;
  background: white;
  margin: 0;
  border-radius: 0px 0px 5px 5px;

}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main, .login {
  margin: 0 20px;
}

.active {
  color: #0077cc;
}

.main a {
  text-transform: uppercase;
}


